/* STYLES TO HOME PAGE */

.banner{
    display: block;
    width: 100%;
    height: 200px;
    background-image: url("../images/bg/image1.jpg");
    background-size: cover;
    background-position-y:30%;
    background-repeat: no-repeat;
    margin: 45px auto 0;
    position: relative;
}
.bannerText{
    position: absolute;
    width: 90%;
    left:5%;
    top:30%;
    background: linear-gradient(270deg,hsla(0,0%,100%,0) 0,rgba(0,0,0,0.8) 50%,hsla(0,0%,100%,0));
    padding: 10px 5px;
}
.bannerText h1{
    font-size: 28px;
    text-align: center;
    color: #E94B3CFF;
}
.bannerText h2{
    font-size: 18px;
    text-align: center;
    color: #fff;
}
.shrine, .reset, .rift{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 154px;
    position: relative;
}
.shrine{
    background-image: url("../images/bg/shrine.png");
    border-radius: 5px 5px 0 0;
}
.reset{
    background-image: url("../images/bg/reset.png");
}
.rift{
    background-image: url("../images/bg/rift.png");
    border-radius: 0 0 5px 5px ;
}
.kek{
    position: absolute;
    top:30%;
    width: 100%;
    left: 0;
}
.kek h1:first-child{
    font-size: 28px;
    color: #E94B3CFF;
    background-color: rgba(0,0,0,0.7);
}
.kek h1:last-child{
    font-size: 18px;
}
.secondMenu{
    display: none;
}

.textBox{
    width: 100%;
    background: #292929;
    margin: 15px auto;
    border-radius: 5px;
}
.textBox p{
    color: rgb(221, 221, 221);
    padding: 15px 25px;
    font-size: 18px;
    text-align: justify;
}
.articleImg{
    display: block;
    width: 90%;
    margin: 0 auto;
}
.h1Div{
    padding: 15px 25px 0 25px;
}
.ulList{
    margin: 5px 45px;
}
.ulList li{
    list-style-type: circle;
    color: #fff;
}


/* FAQ PAGE STYLES*/
.question{
    padding: 10px 5px ;
    border-radius: 5px;
    transition: .3s;
}
.question:hover{
    background-color: #E94B3CFF;
}
.answer{
    margin-bottom: 25px;
}
.desktopQuestions{
    display: none;
}
.instrImg{
    width: 100%;
}


/* CONTACT PAGE STYLES */
li{
    list-style-type: none;
}
.formDiv{
    width: 90%;
    margin: 0 auto;
}
.formTitle{
    padding: 10px 0;
    text-align: center;
}
.formBtn{
    width: 100px;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    background-color: #1f1f1f;
    color: #fff;
    border:unset;
    cursor: pointer;    
}
.sendIcon{
    width: 24px;
    height: 24px;
    opacity: 0;
    transition: 1s;
    margin: 5px 10px;
}

textarea{
    resize: none;
    height: 200px;
    font-size: 14px;
}
.formBtn:focus{
    outline: none;
    background-color: #1a1a1a;
}
.contactInput{
    padding: 15px 9px;
    display: block;
    width: 100%;
    margin:6px auto;
    background-color: #1f1f1f;
    color: #fff;
    border: unset;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
}
.contactInput:focus{
    outline: none;
}
.profDiv{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.prof{
    width: 54px;
    border-radius: 50px;
    margin: 5px;
}
.contactImg{
    width: 24px;
    height: 24px;
    border-radius: 50px;
    padding: 0 15px;
}
.profDiv ul li{
    padding: 5px;
}
.profDiv ul li a{
    font-size: 16px;
    color: rgb(175, 175, 175);
}
.profDiv ul li:first-child a{
    font-size: 20px;
    margin: auto 5px;
    color: #fff;
}

/* RANDOM PERKS */
.checkboxy{
    width: 83%;
    margin: 0 auto;
}
.randH1{
    color:rgb(175, 175, 175);
    font-weight: normal;
    padding: 10px 10px 15px;
    text-align: center;
}
.checkbox{
    display: inline-block;
    position: relative;
	height: 115px;
    width: 80px;
	margin: 5px;
	background-image: url('../images/characters/dwight.png');
    background-size: cover;
}
.checkWithLabel{
	display: none;
}

.checkbox:hover{
	cursor: pointer;
}
.checkWithLabel:checked + .checkbox{
	display: inline-block;
	background-color: rgba(0,128,0,0.5);
	border-radius: 5px;
}
.imgLabel{
    height: 115px;
    width: 80px;
    display: none;
}
.flex-perk{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    height: 100%;
}

.survsRandom, .killerRandom{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 154px;
    position: relative;
    flex:1;
    transition: 0.5s;
    cursor: pointer;
}
.survsRandom{
    background-image: url("../images/bg/survs.png");
    border-radius: 5px 5px 0 0;
}
.killerRandom{
    background-image: url("../images/bg/killers.png");
    border-radius: 0 0 5px 5px ;
}
.survsRandom:hover, .killerRandom:hover{
    flex:2;
}
#survCheckboxes{
    display: none;
}
#killersCheckboxes{
    display: none;
}

.perk{
    width: 65px;
    height: 65px;
    background-image: url('../images/perks/perk.png');
    background-size: cover;
    margin: 0 5px;
}
.drawBtn{
    width: 130px;
    padding: 5px;
    background-color: #E94B3CFF;
    color: #fff;
    border:unset;
    cursor: pointer;
    margin: 15px 0;
}
.perkImg{
    width: 100%;
    height: 100%;
}

@media (min-width: 768px){
    .banner{
        height: 300px;
        background-position-y: 20%;
    }
    .bannerText{
        width: 80%;
        left:10%;
        top:30%;
    }
    .bannerText h1{
        font-size: 42px;
    }
    .bannerText h2{
        font-size: 28px;
    }
    .statsBox{
        flex:1;
    }
    .statsBox:first-child{
        flex:2;
    }
    .secondMenu{
        display: block;
        flex: 1;
        width: 100%;
        background: #292929;
        border-radius: 5px;
    }
    .secondMenu a{
        display: block;
        width: 100%;
        text-align: center;
        padding: 45px 0;
        font-size: 24px;
        margin: 0 auto;
        transition: .3s;
        border-radius: 5px;
    }
    .secondMenu a:hover{
        background-color: #E94B3CFF;
    }
    .secondMenu a img{
        width: 18px;
    }
    .flexBox{
        display: flex;
        margin: 15px;
    }
    .shrine, .reset, .rift{
        flex: 1;
    }
    .shrine, .survsRandom{
        border-radius: 5px 0 0 5px;
    }
    .rift, .killerRandom{
        border-radius: 0 5px 5px 0;
    }

    .killerRandom

    /* FAQ PAGE STYLES*/
    .questions{
        display: none;
    }
    .desktopQuestions{
        display: block;
    }

    
    /* CONTACT PAGE STYLES */
    .profDiv:last-child{
        padding-bottom: 100px;
    }

    .perk{
        width: 100px;
        height: 100px;
    }

}

@media (min-width: 1024px){
    .bannerText h1{
        font-size: 52px;
    }
    .bannerText h2{
        font-size: 36px;
    }
    .articleImg{
        width: 94%;
    }
    .contactInput{
        padding: 9px;
    }    
    /* CONTACT PAGE STYLES */
    .prof{
        width: 74px;
    } 
    .profDiv ul li a{
        font-size: 18px;
    }
    .profDiv ul li:first-child a{
        font-size: 20px;
    }
    .perk{
        margin: 0 15px;
    }
    .checkboxy{
        width: 88%;
    }
    .drawBtn{
        width: 150px;
        font-size: 22px;
    }
    .checkbox{        
        width: 120px;
        height: 173px;
    }
}

@media (min-width: 1600px){
    .banner{
        height: 350px;
    }
    .kek h1:first-child{
        font-size: 34px;
    }
    .kek h1:last-child{
        font-size: 24px;
    }

    .checkboxy{
        width: 93%;
    }
    .survsRandom{
        background-position-y: 10%;
    }
}